<%= form_with(model: servicio, local: true) do |form| %>
  <% if servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(servicio.errors.count, "error") %> prohibited this servicio from being saved:</h2>

      <ul>
      <% servicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :costo %>
    <%= form.text_field :costo, id: :servicio_costo %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :servicio_descripcion %>
  </div>

  <div class="field">
    <%= form.label :estatus %>
    <%= form.text_field :estatus, id: :servicio_estatus %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
