<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
  <div class="box">

<p>
  <strong>Ced paciente:</strong>
  <%= @paciente.ced_paciente %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @paciente.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @paciente.apellidos %>
</p>

<p>
  <strong>Nombres responsable:</strong>
  <%= @paciente.nombres_responsable %>
</p>

<p>
  <strong>Apellidos responsable:</strong>
  <%= @paciente.apellidos_responsable %>
</p>

<p>
  <strong>Telefono responsable:</strong>
  <%= @paciente.telefono_responsable %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @paciente.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @paciente.telefono %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @paciente.edad %>
</p>

<% if @paciente.sexo == "M" %>
<p>
  <strong>Sexo:</strong>
  Masculino
</p>
<%else%>
<p>
  <strong>Sexo:</strong>
  Femenino
</p>

<%end%>




<%= link_to 'Modificar', edit_paciente_path(@paciente), class:"waves-effect waves-light b"%> 
<%#= link_to 'Consultar pacientes', pacientes_path, class:"waves-effect waves-light b" %>
</div>
</div>
</div>