<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
  <div class="box">
<h2>Iniciar sesión</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :contraseña %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>

 

  <div class="actions ">
    <%= f.submit "Iniciar sesión", class:"btn btn-primary b" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>
</div>