<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @rol.descripcion %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @rol.estatus %>
</p>

<%= link_to 'Edit', edit_rol_path(@rol) %> |
<%= link_to 'Back', rols_path %>
