<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
  <div class="box">
<%= form_with(model: plan_quirurgico, local: true) do |form| %>
<%#= form_for @plan_quirurgico, url: new_plan_quirurgico_path do |form| %>

  <% if plan_quirurgico.errors.any? %>
    <ul id="error_explanation">
      <%#= pluralize(plan_quirurgico.errors.count, "error") %> 

      
      <% plan_quirurgico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      
    </ul>
  <% end %>

  <div class="field">
    <%= form.label :medico_id %>
    <%= form.text_field :medico_id, id: :plan_quirurgico_medico_id, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :paciente_id %>
    <%= form.text_field :paciente_id, id: :plan_quirurgico_paciente_id,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :fecha_consulta %>
    <%= form.date_select :fecha_consulta, id: :plan_quirurgico_fecha_consulta, [:us_month_names] => [t(:jan),t(:feb),t(:mar),t(:apr),t(:may),t(:jun), t(:jul), t(:aug), t(:sep), t(:oct), t(:nov), t(:dec)], class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :descp_consulta %>
    <%= form.text_field :descp_consulta, id: :plan_quirurgico_descp_consulta, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :fecha_del_plan_quirúrgico %>
    <%= form.date_select :fecha_pq, id: :plan_quirurgico_fecha_pq, [:us_month_names] => [t(:jan),t(:feb),t(:mar),t(:apr),t(:may),t(:jun), t(:jul), t(:aug), t(:sep), t(:oct), t(:nov), t(:dec)], class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :presupuesto %>
    <%= form.text_field :presupuesto, id: :plan_quirurgico_presupuesto, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :exámen %>
     <%= form.file_field :examen , id: :plan_quirurgico_examen %>
  </div>


  <div class="actions">
    <%= form.submit "Guardar", class:"b waves-effect waves-light btn-large" %>
  </div>
<% end %>
</div>
</div>
</div>