<div class="row ">
  <div class="col-xs-8 tablas">
  <div class="box">


<h1 class="titulolista">Lista de Especialidades</h1>

    <table class="striped" width="203%" border="1" cellpadding="0" cellspacing="0" bordercolor="#2f4f4f">
      <thead>
        <tr>
          <th height="10%" width="10%">Id</th>
          <th height="10%" width="10%">Descripcion</th>
          <th height="10%" width="10%">Estatus</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% if @especialidads.any? %>
          <% @especialidads.each do |especialidad| %>
            <tr>
              <td height="10%" width="10%"><%= especialidad.id %></td>
              <td height="10%" width="10%"><%= especialidad.descripcion %></td>
              <td height="10%" width="10%"><%= especialidad.estatus %></td>
              <td><%= link_to 'Ver', especialidad, class:"waves-effect waves-light b" %></td>
              <td><%= link_to 'Modificar', edit_especialidad_path(especialidad), class:"waves-effect waves-light b" %></td>
              <% if especialidad.estatus == "A" %>
                <td><%= link_to "Eliminar", especialidad, method: :delete, data: { confirm: "¿Esta seguro que desea eliminar a la especialidad #{especialidad.descripcion} ?" }, class:"waves-effect waves-light b"%></td>
              <% else %>
                <td><%= link_to "Reactivar Especialidad", especialidad, method: :delete, data: { confirm: "¿Esta seguro que desea reactivar a la especialidad #{especialidad.descripcion} ?" }, class:"waves-effect waves-light b"%></td>
              <%end%>    
            </tr>
          <% end %>
        <%else %>

          <tr>
            <td colspan="10">  
                <p> No Existen especialidades registradas... </p>
            </td>
          </tr>
      <%end%>

      </tbody>
    </table>

<br>

<%= link_to 'Registrar Nueva Especialidad', new_especialidad_path, class:" waves-effect waves-light btn-large b"%>
</div>
</div>
</div>