<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
  <div class="box">

<%= form_with(model: medico, local: true) do |form| %>
  <% if medico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medico.errors.count, "error") %> prohibited this medico from being saved:</h2>

      <ul>
      <% medico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :especialidad_id %>
    
    <%=collection_select(:medico, :especialidad_id, @especialidades, :id, :descripcion, prompt: true)%>
  </div> 

 <div class="row">
    
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix right2">account_circle</i>
          <label for="last_name">Nombres: </label>
          <%= form.text_field :nombres, id: :medico_nombres, class:"form-control validate" %>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix right2">account_circle</i>
          <label for="last_name">Apellidos: </label>
          <%= form.text_field :apellidos, id: :medico_apellidos, class:"form-control validate" %>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix right2">location_city</i>
          <label for="last_name">Dirección: </label>
          <%= form.text_field :direccion, id: :medico_direccion, class:"form-control validate" %>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix right2">phone</i>
          <label for="last_name">Telefono: </label>
          <%= form.text_field :telefono, id: :medico_telefono, class:"form-control validate" %>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix right2">hourglass_full</i>
          <label for="last_name">Edad: </label>
          <%= form.text_field :edad, id: :medico_edad, class:"form-control validate" %>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix right2">wc</i>
          <label for="last_name">sexo: </label>
          <%= form.text_field :sexo, id: :medico_sexo, class:"form-control validate" %>
        </div>
      </div>
      
      <div class="field">
    <label> Clinicas</label>
    <% @clinicas.each do |clinica| %>
      <div class="field">
        <%= check_box_tag "clinicas[]", clinica.id %> <%= clinica.nombre%>
      </div>
    <% end%>
  </div>



  <%= form.fields_for :user do |f| %>
    <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>

          <div class="field">
            <%= f.label :contraseña %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres como mínimo)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class:"form-control" %>

          </div>

          <div class="field">
            <%= f.label :confirmar_contraseña %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
          </div>
          
          <% #if not user_signed_in?%>
            <%= f.hidden_field :rol_id, :value => 3 %>
          <%#end%>

            <%= f.hidden_field :estatus, :value => "A" %>
  <%end%>
      <%#<div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix right">vpn_key</i>
          <label for="password">Password</label>
        </div>
      </div>
    %>
  </div>

  <div class="actions">
   <%= form.submit "Guardar", class:"b waves-effect waves-light btn-large" %>
  </div>
<% end %>
</div>
</div>
</div>