<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
  <div class="box">

<%= form_with(model: medico, local: true) do |form| %>
  <% if medico.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% medico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :especialidad_id %>
    <%= form.text_field :especialidad_id, id: :medico_especialidad_id %>
  </div> 

 <div class="row">
    
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix right2">account_circle</i>
          <%= form.text_field :nombres, id: :medico_nombres, class:"form-control validate" %>
          <label for="last_name">Nombres: </label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix right2">account_circle</i>
          <label for="last_name">Apellidos: </label>
          <%= form.text_field :apellidos, id: :medico_apellidos, class:"form-control validate" %>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix right2">location_city</i>
          <label for="last_name">Dirección: </label>
          <%= form.text_field :direccion, id: :medico_direccion, class:"form-control validate" %>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix right2">phone</i>
          <label for="last_name">Telefono: </label>
          <%= form.text_field :telefono, id: :medico_telefono, class:"form-control validate" %>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix right2">hourglass_full</i>
          <label for="last_name">Edad: </label>
          <%= form.text_field :edad, id: :medico_edad, class:"form-control validate" %>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix right2">wc</i>
          <label for="last_name">sexo: </label>
          <%= form.text_field :sexo, id: :medico_sexo, class:"form-control validate" %>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix right2">email</i>
          <label for="email"> Correo Electrónico:</label>
          <%= form.text_field :user_id, id: :medico_user_id, class:"form-control validate" %>
        </div>
      </div>
      <%#<div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix right">vpn_key</i>
          <label for="password">Password</label>
        </div>
      </div>
    %>
  </div>

  <div class="actions">
   <%= form.submit "Guardar", class:"waves-effect waves-light btn-large b"%>
  </div>
<% end %>
</div>
</div>
</div>