<div class="row ">
  <div class="col-xs-8 col-md-6">
  <div class="box">

<p id="notice"><%= notice %></p>

<h1 class="right" >Lista de Médicos</h1>

<table width="203%" border="1" cellpadding="0" cellspacing="0" bordercolor="#2f4f4f">
  <thead>
    <tr>
      <th height="10%" width="10%">Especialidad</th>
      <th height="10%" width="10%">Nombres</th>
      <th height="10%" width="10%">Apellidos</th>
      <th height="10%" width="10%">Direccion</th>
      <th height="10%" width="10%">Telefono</th>
      <th height="10%" width="10%">Edad</th>
      <th height="10%" width="10%">Sexo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicos.each do |medico| %>
      <tr>>
        <td height="10%" width="10%"><%= medico.especialidad_id %></td>
        <td height="10%" width="10%"><%= medico.nombres %></td>
        <td height="10%" width="10%"><%= medico.apellidos %></td>
        <td height="10%" width="10%"><%= medico.direccion %></td>
        <td height="10%" width="10%"><%= medico.telefono %></td>
        <td height="10%" width="10%"><%= medico.edad %></td>
        <td height="10%" width="10%"><%= medico.sexo %></td>
        <td><%= link_to 'Ver', medico %></td>
        <td><%= link_to 'Modificar', edit_medico_path(medico) %></td>
        <td><%= link_to 'Eliminar', medico, method: :delete, data: { confirm: 'Esta Seguro que quiere eliminar al médico?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar Médico', new_medico_path %>
</div>
</div>
</div>