<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
  <div class="box">

<!--><p>
  
  <%#= @medico.id%>
</p>
</-->
<p>
  <strong>Especialidad:</strong>
  <%#= @medico.especialidad %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @medico.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @medico.apellidos %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @medico.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @medico.telefono %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @medico.edad %>
</p>

<% if @medico.sexo == "M" %>
<p>
  <strong>Sexo:</strong>
  Masculino
</p>
<%else%>
<p>
  <strong>Sexo:</strong>
  Femenino
</p>
<%end%>

<%= link_to 'Modificar', edit_medico_path(@medico), class:"waves-effect waves-light b"%> 
<%#= link_to 'Regresar', medicos_path %>
</div>
</div>
</div>