<!DOCTYPE html>
<html>
  <head>
    <title>TriSalud</title>
    <%= favicon_link_tag 'trisaludLogo.ico' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=>true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=>true %>
    
  </head>

  <body>
	  <% 
	  #Validar si el usuario inició sesión
	  if user_signed_in?%>
		  <% 
		  #si el usuario actual es administrador
		  if current_user.rol_id == 1 %>


		  <header>
		  	

		  		<ul id="dropdown1" class="dropdown-content no-list row center-xs list-style"  >
				  <li><%=link_to "Registrar Paciente", new_paciente_path %> </li>
				  <li><%=link_to "Consultar Paciente", pacientes_path %></li>
				</ul>

				<ul id="dropdown2" class="dropdown-content no-list row center-xs list-style"  >
				  <li><%=link_to "Registrar Médico", new_medico_path %> </li>
				  <li><%=link_to "Consultar Médico", medicos_path %> </li>
				</ul>

				<ul id="dropdown3" class="dropdown-content no-list row center-xs list-style"  >
				  <li><%=link_to "Registrar Clínica", new_clinica_path %> </li>
				  <li><%=link_to "Consultar Clínicas", clinicas_path %> </li>
				</ul>

				<ul id="dropdown4" class="dropdown-content no-list row center-xs list-style"  >
				  <li><%=link_to "Registrar Especialidad", new_especialidad_path %> </li>
				  <li><%=link_to "Consultar Especialidades", especialidads_path %> </li>
				</ul>

				<ul id="dropdown5" class="dropdown-content no-list row center-xs list-style"  >
				  <li><a href="#!">Cantidad de Cirugías Realizadas por Especialidad</a></li>
				  <li><a href="#!">Cantidad de Cirugías Realizadas por Médico</a></li>
				  <li><a href="#!">Cirugías Realizadas con éxito</a></li>
				</ul>

				<nav class="color large-padding z-depth-5">
					<div class="nav-wrapper ">
					    
					    <ul class=" no-list row center-xs list-style">
					    <li>
							 <%= image_tag("trisaludLogo.jpg", width:"50px", height:"50px", style:"border-bottom-right-radius: 46px;/*! margin-top: 10px; */margin-right: 200px;margin-left: -23px;") %>
						</li>

				    	<li>
			 				<a class="tooltipped brand" data-position="bottom" data-delay="50" data-tooltip="Página Principal" style="margin-left: -188px;" href="/"> 
							TRISALUD, C.A </a>	

				    	</li>
					      <!-- Dropdown Trigger -->
					     <li >
					      <a class="dropdown-button" style="font-size: 12px;" href="" data-activates="dropdown1">Gestionar Pacientes
					      	<i class="material-icons right">arrow_drop_down</i>
					      </a>
					  	 </li>

						<li >
					      <a class="dropdown-button" style="font-size: 12px;" href="" data-activates="dropdown2">Gestionar Médicos
					      	<i class="material-icons right">arrow_drop_down</i>
					      </a>
					  	</li>

					  	<li >
					      <a class="dropdown-button" style="font-size: 12px;" href="" data-activates="dropdown3">Gestionar Clinicas
					      	<i class="material-icons right">arrow_drop_down</i>
					      </a>
					  	</li>

						<li >
					      <a class="dropdown-button" style="font-size: 12px;" href="" data-activates="dropdown4">Gestionar Especialidades
					      	<i class="material-icons right">arrow_drop_down</i>
					      </a>
					  	</li>

						<li >
					      <a class="dropdown-button" style="font-size: 12px;" href="" data-activates="dropdown5">Gestión de Reportes
					      	<i class="material-icons right">arrow_drop_down</i>
					      </a>
					  	</li>

					  	<li >
			  				<%= link_to "Cerrar Sesión",  destroy_user_session_path, method: :delete, class:"b waves-effect waves-light", style:"font-size: 13px;vertical-align: baseline;" %>	  	
						</li>

					    </ul>
			  		</div>
				</nav>
		 
		 <% else %>
			   <% #suario de tipo PACIENTE
			   if current_user.rol_id == 2%>
				  <nav class="color large- z-depth-5" >
				 		<ul class=" no-list row center-xs list-style">

				 			<li>
				 				<%= image_tag("trisaludLogo.jpg", width:"50px", height:"50px", style:"border-bottom-right-radius: 46px;margin-top: 6px;margin-right: 200px;margin-left: -8px;") %>
				 			</li>

					 		<li>
				 				<a class="tooltipped brand " data-position="bottom" data-delay="50" data-tooltip="Página principal" style="margin-left: -208px;" href="/"> 
								TRISALUD, C.A </a>
					 		</li>
				  			<li >
				  				<%= link_to "Planificar cirugia", new_plan_quirurgico_path, style:"margin-left: 510px;"%>
				  			</li>
				  			<li >
				  				<%= link_to "Consultar plan quirurgico", plan_quirurgicos_path %>
				  			</li>	
				  			<li >
				  				<%= link_to "Ver perfil", plan_quirurgicos_path %>
				  			</li>
				  					  			
				  			<li>
				  				<%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class:"b waves-effect waves-light" %>	  				
					  		</li>
				 		</ul>	
				  	</nav>
			   <% else %>
				   <% #Usuario de tipo Medico
				   if current_user.rol_id == 3 %>
				  <nav class="color large-padding z-depth-5" >
				 		<ul class=" no-list row center-xs list-style">
						 		<li>
					 				<a class="tooltipped brand" data-position="bottom" data-delay="50" data-tooltip="Página principal" style="margin-left: -17px;" href="/"> 
									TRISALUD, C.A </a>
								</li>
					  			<li >
					  				<%= link_to "Consultar historial de paciente", historial_pacientes_path, style:"margin-left: 250px;"%>
					  			</li>
					  			<li >
					  				<%= link_to "Consultar plan quirurgico", plan_quirurgicos_path%>
					  			</li>	
					  			<li>
					  				<%= link_to "Cirugías pendientes", plan_quirurgicos_path%>
					  			</li>
					  			<li >
					  				<%= link_to "Ver perfil", plan_quirurgicos_path%>
					  			</li>			  			
					  			<li >
						  			<%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class:"b waves-effect waves-light"%>	  				
						  		</li>
					 		</ul>	
					  	</nav>
				   <% else %>
					   <% #Usuario de tipo Clinica 
					   	 if current_user.rol_id == 4 %>
					  <nav class="color large-padding z-depth-5" >
					 		<ul class=" no-list row center-xs list-style">
							 		<li>
					 					<a class="tooltipped brand " data-position="bottom" data-delay="50" data-tooltip="Pagina principal" style="margin-left: -15px;" href="/"> 
										TRISALUD, C.A </a>
					 				</li>
						  			
						  			<li >
						  				<%= link_to "Médicos asociados", medicos_path, style:"margin-left: 700px;"%>
						  			</li>						  				
						  			<li >
						  				<%= link_to "Ver perfil", plan_quirurgicos_path %>
						  			</li>
						  						  			
						  			<li >
						  				<%= link_to "Cerrar Sesión",  destroy_user_session_path, method: :delete, class:"b waves-effect waves-light" %>	  				
							  		</li>
						 		</ul>	
						  	</nav>
						  	<% end %>	
					<% end %>	
				<% end %>		  	
		  <% end %>
		<% 
  		#si el usuario no ha iniciado sesión
		else %>
			<nav class="color z-depth-5">
				
				<ul >
					<li>
						<%= image_tag("trisaludLogo.jpg", width:"50px", height:"50px", style:"border-bottom-right-radius: 46px;margin-top: 10px;margin-right: 100px;") %>
					</li>
					<li >	
						<a class="tooltipped brand" data-position="bottom" data-delay="50" data-tooltip="Pagina de Inicio de Sesión" href="/users/sign_in"> 
						TRISALUD, C.A 
					    </a>
					</li>
					<li class=" right c" id="b" >
		  				<%= link_to "Iniciar Sesión", new_user_session_path, class:"b waves-effect waves-light"%>

		  			</li>
					<li class=" right c" id="b" >
		  				<%= link_to "Crear Cuenta", new_paciente_path, class:"b waves-effect waves-light"%>
		  			</li>

				</ul>

			</nav>
	  	<% end %>

	  	<script >
	  		
	  		$(".dropdown-button").dropdown({
				inDuration: 300,
				outDuration: 225,
				constrainWidth: false,
				hover: true,
				gutter: 0,
				belowOrigin: false,
				alignment: 'left',
				stopPropagation: false
			});


			
		</script>

		<% if flash[:notice] %>
	  	<div class="alert-success">
	  		<i class="material-icons prefix right">done_all</i>
	  		<%= flash[:notice] %>
	  	</div>

  	 	<% elsif flash[:error] %>
			<div class="alert-error">
	  			<i class="material-icons prefix right">info_outline</i>
	  			<%= flash[:error] %>
	  		</div>
		  	<% elsif flash[:alert] %>
				<div class="alert">
					<i class="material-icons prefix right">report</i>
		  			<%= flash[:alert] %>
		  		</div>
		<%end%>	

    	<%= yield %>
    	
	  </header>

	  
  </body>
</html>

