<!DOCTYPE html>
<html>
  <head>
    <title>TriSalud</title>
    <link href="images/trisaludLogo.ico" rel=	"ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=>true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=>true %>
    
  </head>

  <body>
	  <% 
	  #Validar si el usuario inició sesión
	  if user_signed_in?%>
		  <% 
		  #si el usuario actual es administrador
		  if current_user.rol_id == 1 %>


		  <header  class="z-depth-5">
		  	

		  		<ul id="dropdown1" class="dropdown-content no-list row center-xs list-style"  >
				  <li><%=link_to "Registrar Paciente", new_paciente_path %> </li>
				  <li><%=link_to "Consultar Paciente", pacientes_path %></li>
				  <li><%=link_to "Reactivar Paciente", pacientes_path %></li>
				</ul>

				<ul id="dropdown2" class="dropdown-content no-list row center-xs list-style"  >
				  <li><%=link_to "Registrar Médico", new_medico_path %> </li>
				  <li><%=link_to "Consultar Médico", medicos_path %> </li>
				  <li><%=link_to "Reactivar Médico", pacientes_path %></li>
				</ul>

				<ul id="dropdown3" class="dropdown-content no-list row center-xs list-style"  >
				  <li><%=link_to "Registrar Clínica", new_clinica_path %> </li>
				  <li><%=link_to "Consultar Clínicas", clinicas_path %> </li>
				  <li><%=link_to "Reactivar Clínica", pacientes_path %></li>
				</ul>

				<ul id="dropdown4" class="dropdown-content no-list row center-xs list-style"  >
				  <li><%=link_to "Registrar Especialidad", new_especialidad_path %> </li>
				  <li><%=link_to "Consultar Especialidades", especialidads_path %> </li>
				  <li><%=link_to "Reactivar Especialidad", pacientes_path %></li>
				</ul>

				<ul id="dropdown5" class="dropdown-content no-list row center-xs list-style"  >
				  <li><a href="#!">Cantidad de Cirugías Realizadas por Especialidad</a></li>
				  <li><a href="#!">Cantidad de Cirugías Realizadas por Médico</a></li>
				  <li><a href="#!">Cirugías Realizadas con éxito</a></li>
				</ul>

				<nav class="color large-padding">
					<div class="nav-wrapper ">
					    
					    <ul class=" no-list row center-xs list-style">
				    	<li>
			 				<a class="tooltipped brand brand2" data-position="bottom" data-delay="50" data-tooltip="Pagina de Inicio de Sesión" href="/"> 
							TRISALUD, C.A </a>	
				    	</li>
					      <!-- Dropdown Trigger -->
					     <li >
					      <a class="dropdown-button" href="" data-activates="dropdown1">Gestionar Pacientes
					      	<i class="material-icons right">arrow_drop_down</i>
					      </a>
					  	 </li>

						<li >
					      <a class="dropdown-button" href="" data-activates="dropdown2">Gestionar Médicos
					      	<i class="material-icons right">arrow_drop_down</i>
					      </a>
					  	</li>

					  	<li >
					      <a class="dropdown-button" href="" data-activates="dropdown3">Gestionar Clinicas
					      	<i class="material-icons right">arrow_drop_down</i>
					      </a>
					  	</li>

						<li >
					      <a class="dropdown-button" href="" data-activates="dropdown4">Gestionar Especialidades
					      	<i class="material-icons right">arrow_drop_down</i>
					      </a>
					  	</li>

						<li >
					      <a class="dropdown-button" href="" data-activates="dropdown5">Gestionar de Reportes
					      	<i class="material-icons right">arrow_drop_down</i>
					      </a>
					  	</li>

					  	<li>
			  				<%= link_to "Cerrar Sesión",  destroy_user_session_path, method: :delete, class:"b waves-effect waves-light"  %>	  	
						</li>

					    </ul>
			  		</div>
				</nav>
		 
		 <% else %>
			   <% #suario de tipo PACIENTE
			   if current_user.rol_id == 2%>
				  <nav class="color large- z-depth-5" >
				 		<ul class=" no-list row center-xs list-style">

					 		<li>
				 				<a class="tooltipped brand brand2" data-position="bottom" data-delay="50" data-tooltip="Pagina de Inicio de Sesión" href="/"> 
								TRISALUD, C.A </a>
					 		</li>
				  			<li >
				  				<%= link_to "Planificar cirugia", new_plan_quirurgico_path, {:class => "brand2 "}%>
				  			</li>
				  			<li >
				  				<%= link_to "Consultar plan quirurgico", root_path, {:class => "brand2 "}%>
				  			</li>	
				  			<li >
				  				<%= link_to "Ver perfil", root_path, {:class => "brand2 "} %>
				  			</li>
				  					  			
				  			<li>
				  				<%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class:"b waves-effect waves-light" %>	  				
					  		</li>
				 		</ul>	
				  	</nav>
			   <% else %>
				   <% #Usuario de tipo Medico
				   if current_user.rol_id == 3 %>
				  <nav class="color large-padding z-depth-5" >
				 		<ul class=" no-list row center-xs list-style">
						 		<li>
					 				<a class="tooltipped brand brand2" data-position="bottom" data-delay="50" data-tooltip="Pagina de Inicio de Sesión" href="/"> 
									TRISALUD, C.A </a>
								</li>
					  			<li >
					  				<%= link_to "Consultar historial de paciente", historial_pacientes_path, {:class => "brand2 "}%>
					  			</li>
					  			<li >
					  				<%= link_to "Consultar plan quirurgico", plan_quirurgicos_path, {:class => "brand2 "}%>
					  			</li>	
					  			<li>
					  				<%= link_to "Cirugías pendientes", root_path, {:class => "brand2 "}%>
					  			</li>
					  			<li >
					  				<%= link_to "Ver perfil", root_path, {:class => "brand2 "}%>
					  			</li>			  			
					  			<li >
						  			<%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class:"b waves-effect waves-light"%>	  				
						  		</li>
					 		</ul>	
					  	</nav>
				   <% else %>
					   <% #Usuario de tipo Clinica 
					   	 if current_user.rol_id == 4 %>
					  <nav class="color large-padding z-depth-5" >
					 		<ul class=" no-list row center-xs list-style">
							 		<li>
					 					<a class="tooltipped brand brand2" data-position="bottom" data-delay="50" data-tooltip="Pagina de Inicio de Sesión" href="/"> 
										TRISALUD, C.A </a>
					 				</li>
						  			
						  			<li >
						  				<%= link_to "Médicos asociados", medicos_path, {:class => "brand2 "}%>
						  			</li>						  				
						  			<li >
						  				<%= link_to "Ver perfil", root_path, {:class => "brand2 "}%>
						  			</li>
						  						  			
						  			<li >
							  				<%= link_to "Cerrar Sesión",  destroy_user_session_path, method: :delete, class:"b waves-effect waves-light" %>	  				
							  		</li>
						 		</ul>	
						  	</nav>
						  	<% end %>	
					<% end %>	
				<% end %>		  	
		  <% end %>
		<% 
  		#si el usuario no ha iniciado sesión
		else %>
			<nav class="color z-depth-5">
				
				<ul >
					<li >	
						<a class="tooltipped brand" data-position="bottom" data-delay="50" data-tooltip="Pagina de Inicio de Sesión" href="/users/sign_in"> 
						TRISALUD, C.A </a>
						
					</li>
					<li class="brand right c" id="b" >
		  				<%= link_to "Iniciar Sesión", new_user_session_path, class:"b waves-effect waves-light"%>

		  			</li>
					<li class="brand right c" id="b" >
		  				<%= link_to "Crear Cuenta", new_user_registration_path, class:"b waves-effect waves-light"%>
		  			</li>

				</ul>

			</nav>
	  	<% end %>

	  	<script >
	  		
	  		$(".dropdown-button").dropdown({
				inDuration: 300,
				outDuration: 225,
				constrainWidth: false,
				hover: true,
				gutter: 0,
				belowOrigin: false,
				alignment: 'left',
				stopPropagation: false
			});


			
		</script>

	  </header>

	<p lass="alert alert-success"><%#= notice%></p>
  	<p lass="alert alert-success"><%= alert%></p>	
    <%= yield %>
  </body>
</html>

